body {
    font-family: 'Anek Latin', sans-serif;
    background-color: #191414;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(270deg, #232122, #0054bc, #001c5a);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

.container {
    background-color: #05831a;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(9, 102, 0, 0.856);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.music-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.title {
    color: #020202;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-top: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #131313;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3a3a3a;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.login-link {
    color: #000000;
    margin-top: 20px;
}

.login-link a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}