body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.modal-container {
    display: none; /* Cambiado a 'none' para ocultar inicialmente la ventana modal */
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    position: relative; /* Añadido */
    text-align: center; /* Añadido para centrar el contenido */
}


.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.profile-info {
    text-align: left;
}

.profile-info h2 {
    margin-bottom: 10px;
    color: #333;
}

.profile-info p {
    color: #666;
}

.playlist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.playlist {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.playlist-cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.playlist-details {
    padding: 10px;
}

.playlist-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

.playlist-songs {
    color: #666;
}

/* Estilo para los botones */
.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}

#closeProfileModal {
    background-color: #e74c3c;
    color: #fff;
    margin-top: 10px;
    position: absolute; /* Añadido */
    bottom: 10px; /* Añadido para centrar en la parte inferior */
    left: 50%; /* Añadido para centrar en el medio */
    transform: translateY(-650%); /* Añadido para ajustar el centrado horizontal */
}

#closeProfileModal:hover {
    background-color: #c0392b;
}
